.peppermint.peppermint-active {
  position: relative;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.peppermint.peppermint-active .peppermint-slides {
  position: relative;
  overflow: hidden;
  /* clearfix */
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.peppermint.peppermint-active .peppermint-slides > * {
  float: left;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.peppermint.peppermint-active .peppermint-slides a:active,
.peppermint.peppermint-active .peppermint-slides a:active img {
  outline: none;
}

.peppermint.peppermint-active,
.peppermint.peppermint-active .peppermint-dots,
.peppermint.peppermint-active .peppermint-slides,
.peppermint.peppermint-active .peppermint-slides > * {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.peppermint.peppermint-mouse .peppermint-slides {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.peppermint.peppermint-mouse.peppermint-drag .peppermint-slides * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.peppermint {
  @mixin container;
  text-align: center;
  margin-top: 160px;
  h1 {
    font-family: Lato;
    font-size: 57px;
    font-weight: 900;
  }
  &__item {
    font-size: 30px;
    font-weight: 300;
    &--textUp {
      letter-spacing: 10px;
    }
  }
  &--items {
    margin-top: 0;
    .peppermint-dots {
      margin-top: 30px !important;
    }
    ul.peppermint-dots > li > span {
      size: 12px;
      background: #333;
      opacity: 0.54;
    }
    ul.peppermint-dots > li.peppermint-active-dot > span {
      size: 12px;
      top: 21px;
      border-color: $color-red;
      border-width: 2px;
      opacity: 1;
    }
  }
}

.peppermint figure {
  margin: 0 0 1.5em 0;
  width: 100%;
}

.peppermint.peppermint-active {
  margin-bottom: 1.5em;
}

.peppermint-slides {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #fff;
  text-transform: uppercase;
}


/* dots */

ul.peppermint-dots {
  margin: 0.6em 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.peppermint.peppermint-active ul.peppermint-dots {
  margin: 0 0 0.6em 0;
}

.peppermint.peppermint-active .peppermint-slides + ul.peppermint-dots {
  margin: 0.6em 0 0 0;
}

ul.peppermint-dots > li {
  display: inline-block;
  position: relative;
  padding: 0.5em 0.6em;
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* ie7 fallback */
  *display: inline;
  *zoom: 1;
}

ul.peppermint-dots > li.peppermint-mouse-clicked,
ul.peppermint-dots > li:active {
  outline: 0;
}

ul.peppermint-dots > li > span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

ul.peppermint-dots > li.peppermint-active-dot > span {
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  top: 21px;
  left: 10px;
  border: 2px solid #fff;
  background: transparent;
}