  .slider {
    width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
    text-align: center;
    &__inner {
      width: 100%;
      height: 700px;
      margin: auto;
      overflow: hidden;
    }
    &__item {
      height: 700px;
      font-size: 0;
    }
    &__block {
      text-align: left;
      width: 50%;
      margin: auto;
      @mixin inline-block;
      color: #333;
      font-family: OpenSans;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }
    &__arrow {
      display: block;
      position: absolute;
      margin-left: 80px;
      margin-right: 80px;
      width: 22px;
      height: 42px;
      top: 25%;
      opacity: 0.3;
      cursor: pointer;
      fill: purple;
      &--left {
        left: -105px;
      }
      &--right {
        right: -100px;
      }
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.1;
      }
    }
    h3 {
      color: $color-red;
      font-family: Lato;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }
  }