@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'), url('../fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeue-Book.woff2') format('woff2'), url('../fonts/BebasNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}