.btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  @mixin no-decor;
  &--items {
    @mixin inline-block;
    @mixin margin 20px;
    margin-top: 30px;
    text-align: center;
    border-width: 1px;
    color: #333;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 700;
    border-color: #333;
  }
  &--slider {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: 0;
    border-width: 1px;
    color: #333;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 700;
    border-color: #333;
  }
}